/* =============================================================================
  RESETS
============================================================================= */

html,
body,
div,
h1,
p,
a,
video {
  margin: 0;
  padding: 0;
}

/* =============================================================================
  FONTS
============================================================================= */



/* =============================================================================
  HTML, BODY
============================================================================= */

html,
body {
  height: 100%;
  background-color: black;
}

/* =============================================================================
  HEADER
============================================================================= */



/* =============================================================================
  FOOTER
============================================================================= */



/* =============================================================================
  INDEX
============================================================================= */


.video {
  position: fixed;
  top: 50%; 
  left: 50%;
  z-index: 1;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  transform: translate(-50%, -50%);
}


.content {
  position: relative;
  z-index: 2;
  top: 25%;
}

.btn-big div{
    width: 8em!important;
    height: 2em!important;
    border: solid 2px white;
    padding: 2%;
    vertical-align: middle;
    font-size: 2em;
}
.btn-big div:hover{
    background-color: #2a95be;
}

/* =============================================================================
  ONE PAGE
============================================================================= */



/* =============================================================================
  LANDINGS
============================================================================= */



