/* =============================================================================
  RESETS
============================================================================= */

html,
body,
div,
h1,
p,
a,
video {
  margin: 0;
  padding: 0;
}

/* =============================================================================
  HTML, BODY
============================================================================= */

html,
body {
  height: 100%;
}

/* =============================================================================
  HEADER
============================================================================= */



/* =============================================================================
  FOOTER
============================================================================= */




/* =============================================================================
  INDEX
============================================================================= */


.content {
  position: relative;
  z-index: 2;
}

.video {
  position: fixed;
  top: 50%; left: 50%;
  z-index: 1;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  transform: translate(-50%, -50%);
}


/* =============================================================================
  ONE PAGE
============================================================================= */


/* =============================================================================
  ONE PAGE
============================================================================= */